@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html, body {
    height: 100%;
}

* {
    outline: none !important;
}

body {
    font-family: 'Archivo Narrow', monospace, Arial;
    font-size: 16px;
}

a {
    color: #333;
}

.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:visited,
.breadcrumb a:link {
    color: #f85563;
}

.btn {
    background: #f85563;
    border-width: 0;
    color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    line-height: 1.5;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 90%;
    margin: 5px 5px 5px 0;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.btn.inverse {
    background: #8c8c8c;
}

.btn:hover,
.btn:visited,
.btn:active {
    text-decoration: none;
    color: #fff;
}

#main {
    overflow: hidden;
    min-height: 100%;
    background: white;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

nav.navbar.navbar-default {
    border-radius: 0;
    border-top: 0;
}

.navbar-brand {
    font-weight: bold;
}

input.form-control {
    border-radius: 0;
    height: 30px;
}

textarea.form-control.contact-textarea {
    border-radius: 0;
}

.sortBy {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
}

.sortBy select {
    border-color: #ccc;
    padding: 0 5px;
    height: 30px;
}

.cart {
    cursor: pointer;
    overflow: hidden;
    display: block;
    height: 30px;
    margin-top: 10px;
    width: 60px;
    margin-right: -15px;
    margin-left: 10px;
    line-height: 15px;
    font-size: 11px;
    font-weight: bold;
    border-left: 1px solid #ccc;
    padding-left: 8px;
}

.cart-options {
    width: 100%;
}

.navbar-default .navbar-brand,
.cart-option-value {
    color: #f85563;
}

table.products-table {
    width: calc(100% - 1px);
}

table.options th,
table.options td,
table.products-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table.products-table a.thumbnail {
    max-width: 80px;
    border: 0;
    padding: 0;
    margin: 0;
}

table.products-table img {
    width: 100%;
}

.phone.selected {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.12) inset;
}

.phone {
    float: left;
    margin-top: 10px;
    width: 25%;
    height: 200px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 12px 0;
}

.product-table {
    width: 100%;
}

.product-table td {
    vertical-align: baseline;
    width: 50%;
    font-size: 18px;
    padding-top: 10px;
}

.product-quantity {
    max-width: 80px;
}

.product-buy {
    width: 100%;
}

.info {
    overflow: hidden;
    padding-left: 26px;
}

.info h1 {
    font-weight: bold;
    color: #5d5d5d;
}

.info p {
    font-size: 16px;
    line-height: 24px;
}

.phone img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.phone strong {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-thumbnails {
    margin-top: 20px;
}

a.thumbnail {
    max-width: 100px;
    float: left;
    margin-right: 14px;
    margin-bottom: 0;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #f85563;
}

form.form-horizontal {
    max-width: 350px;
    margin: 20px auto 0;
}

.contact-map {
    max-width: 100%;
}

#disqus_thread {
    background: #f8f8f8;
    padding: 20px 30px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.loading #loading {
    display: block;
}

#loading img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.7);
}

@media (max-width: 768px) {
    .sortBy {
        margin-right: 0;
    }
    .phone {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .phone {
        width: 33.33333%;
    }
}

@media (max-width: 400px) {
    .phone {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .phone {
        width: 100%;
    }
}