* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Dekko', monospace;
    font-size: 16px;
}

#main {
    overflow: hidden;
    min-height: 100%;
    background: white;
    width: 800px;
    margin: 0 auto;
}

nav.navbar.navbar-default {
    border-radius: 0;
    border-top: 0;
}

.navbar-brand {
    font-weight: bold;
}

input.form-control {
    border-radius: 0;
    height: 30px;
}

.sortBy {
    margin-top: 10px;
    margin-right: -15px;
    line-height: 30px;
}

.sortBy select {
    border-color: #ccc;
    padding: 0 5px;
    height: 30px;
}

.phone {
    margin-top: 26px;
    float: left;
    width: 20%;
    height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}

.phone img {
    width: 100%;
    height: auto;
}

.phone strong {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}