<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#!/">Home</a></li>
	<li class="breadcrumb-item active">{{name}}</li>
</ol>
<div class="row">
	<div class="col-md-6">
		<a href="../images/{{images.[0]}}" class="quick_view" data-fancybox="qw1" data-qw-form="qw-form-1">
			<img src="../images/{{images.[0]}}" alt="{{name}}">
		</a>
	</div>
	<div class="col-md-6 info">
		<h1>{{name}}</h1>
		<p>{{description}}</p>
		<table class="product-table">
			<tr>
				<td>
					<label for="qtt">Qtt:
						<input type="number" id="qtt" class="product-quantity" value="1">
					</label>
				</td>
				<td>
					<strong>Price: 123.00$</strong>
				</td>
			</tr>
			<tr>
				<td>
					<a href="javascript:" class="btn product-buy" onclick="App.cart.add('{{id}}')">Add to cart</a>
				</td>
			</tr>
		</table>
		<span class="hidden">
			{{#each images}}
				{{#if @first}}
				{{else}}
				<a class="quick_view" data-fancybox="qw1" href="http://angular.github.io/angular-phonecat/step-13/app/img/phones/{{.}}">#</a>
				{{/if}}
			{{/each}}
		</span>
		<div id="qw-form-1" class="hidden">
			<h3>{{name}}</h3>
			<p>{{description}}</p>
			<p>
				<button class="btn" data-fancybox-close="" onclick="App.cart.add('{{id}}')">Add to cart</button>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 product-thumbnails">
		{{#images}}
		<a data-fancybox="gallery" class="fancybox thumbnail" href="http://angular.github.io/angular-phonecat/step-13/app/img/phones/{{.}}">
			<img src="http://angular.github.io/angular-phonecat/step-13/app/img/phones/{{.}}">
		</a>
		{{/images}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<br>
		<script id="dsq-count-scr" src="//https-frentsel-github-io.disqus.com/count.js" async></script>
		<div id="disqus_thread"></div>
		<script>

			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			 var disqus_config = function () {
			 this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			 };
			 */
			(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//https-frentsel-github-io.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</div>
</div>
<script type="text/html" id="demoProduct">
	<div class="fancybox-container" role="dialog">
		<div class="quick-view-content">
			<div class="quick-view-carousel">
				<div class="fancybox-slider-wrap">
					<ul class="fancybox-slider"></ul>
				</div>
			</div>
			<div class="quick-view-aside"></div>
			<button data-fancybox-close class="quick-view-close">X</button>
		</div>
	</div>
</script>